* {
    box-sizing: border-box;
}

body {
    background-color: white;
}



/*------HEADING------*/
.header{
    text-align: center;
    background-color: rgb(44,59,71);
    color: white;
    padding: 5px 5px;
}



/*------HEADER SUB-TEXT------*/

.a-text {
    text-align: center;
}


.b-text {
    text-align: center;
}

/*------FORM ------*/



#container {
    padding-top: 15px;
    max-width: 768px;
    margin: 0 auto;
}

form {
    border-top: 6px double black;
    padding: 25px;
}

/*-------CONTACT INFO------*/
.contact-info {
    border: none;
    border-bottom:  3px solid black;
}


input,
textarea,
select {
    border-radius: 4px;
    padding: 1rem;
    background-color: lightgray;
    margin-bottom: .2rem;
    border: none;
}

input::placeholder {
    color: black;
    font-style: italic;
}

.contact-info .flex-pair {
    display: flex;
    flex-direction: column;
}
/*-------NEWS LETTER------*/

textarea{
    width: 100%;
    padding: 30px;
}

.news-field {
    border: none;
    line-height: 2em;
}

textarea::placeholder {
    color: black;
    font-style: italic;
}

input:hover, 
select:hover, 
textarea:hover {
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(59, 61, 59, 0.8);
}

button {
    width: 100%;
    background-color: aquamarine;
    padding: 20px;
    font-size: 25px;
    color: white;
}
/*-------FOOTER -----*/

@media(min-width: 768px) {

    
.contact-info .flex-pair {
    display: flex;
    flex-direction: row;
}

.flex-pair label {
    flex-basis: 25%;
}

.flex-pair input, select {
    flex-basis: 75%;
}

#zip {
    flex-basis: 25%;
}


}