* {
    box-sizing: border-box;
}

body {
    background-color: oldlace;
}

/*------HEADING------*/
.header{
    text-align: center;
    background-color: darkslategrey;
    color: white;
    padding: 5px 5px;
}



/*------HEADER SUB-TEXT------*/

.a-text {
    text-align: center;
}


.b-text {
    text-align: center;
}

/*------FORM ------*/

form {
    border-top: 6px double black;
    padding-top: 25px;
    padding-bottom: 25px;
}

#container {
    max-width: 768px;
    margin: 0 auto;
    border: none;
}


input,
select,
textarea {
    padding: 1rem;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
    right: auto;
}

.contact-info {
    border: none;
    margin: 15px auto;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-bottom: 35px; 
}

.news-field {
    border: none;
    margin: 15px auto;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-bottom: 35px; 

}

.contact-info .flex-pair {
    display: flex;
    flex-direction: row;
}

input[type="checkbox"] {
    margin: 10px 10px 10px 10px;
}

input[type="text"] {
margin: auto;
width: relative;
}

select {
    margin: auto;
    width: 100px;
}

textarea {
    width: 100%;
}



/*-----FOOTER-------*/