* {
    box-sizing: border-box;
}

body {
    background-color: white:
}

/*------HEADING------*/
.header{
    text-align: center;
    background-color: rgb(44,59,71);
    color: white;
    padding: 5px 5px;
}



/*------HEADER SUB-TEXT------*/

.a-text {
    text-align: center;
}


.b-text {
    text-align: center;
}

/*------FORM ------*/

legend{
    font-size: 20px;
}
form {
    border-top: 6px double black;
    padding-top: 25px;
    padding-bottom: 25px;
}

#container {
    max-width: 768px;
    margin: 0 auto;
    border: none;
}


input,
select,
textarea {
    padding: 1rem;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
    right: auto;
}

.contact-info {
    border: none;
    margin: 15px auto;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-bottom: 35px; 
}

.news-field {
    border: none;
    margin: 15px auto;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-bottom: 35px; 

}

label {
    padding-right: 20px;
}


input[type="checkbox"] {
    margin: 10px 10px 10px 10px;
}

input[type="text"] {
margin: 5px 0px 5px 0px;
}

select {
    margin: auto;
    width: auto;
    margin: 5px 0px 5px 0px;
}

textarea {
    width: 100%;
}


#submit {
    width: auto;
}

button{
    padding: 20px 40px 20px 40px;
    color: #FFF;
    background-color: #4fd8cd;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

/*-----FOOTER-------*/




 /*--MEDIA QUEIRIES ---- */

 @media (min-width: 768px) {
     form{
         width: 75%;
     }
 }
